---
import Layout from '../layouts/Layout.astro';
import Page from '../components/Main/Page.astro';
import FoodList from '../components/supplementary/FoodList.astro';
import { Image } from 'astro:assets';
import Diana from '../images/DianaWino2.webp';
import FoodGroup from '../components/ReactComponents/FoodGroup.tsx'



---

<Layout title="Welcome to Astro.">
	<Page pageName = 'menu'>
		<article>

			<a href="/menu-dishes"><button>Dania główne</button></a>
			<a href="/menu-snacks"><button>Przystawki</button></a>
			<a href="/menu-sweets"><button>Desery</button></a>
			<a href="/menu-drinks"><button>Drinki</button></a>

			<!-- <section class = 'main-food-list'> -->
					<!-- <Image slot = 'image' src = {Diana} alt = 'Diana trzymająca kieliszek wina.'></Image> -->
						<!-- <section class = 'food-wrapper'> -->
							<!-- <FoodGroup label = {dishes.label} food = {dishes.food} client:load /> -->
							<!-- <FoodGroup label = {snacks.label} food = {snacks.food} client:load /> -->
							<!-- <FoodGroup label = {sweetTable.label} food = {sweetTable.food} client:load /> -->

							<!-- <FoodList foods = {dishes} /> -->
							<!-- <FoodList foods = {sweetTable} /> -->
							<!-- <FoodList foods = {drinks} /> -->
							<!-- <FoodList foods = {snacks} /> -->
							
						<!-- </section> -->
			<!-- </section> -->



		</article>
	</Page>
</Layout>


<style>
	article{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		width: 100%;
	}

	button{
		width: 300px;
		height: 180px;
		box-shadow: 0px 1px 0px 0px #f0f7fa;
		background-color: #7d0000;
		border-radius:10px;
		border:1px solid black;
		cursor:pointer;
		color:white;
		font-size:24px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px -1px 0px #5b6178;
	}

	button:hover{
		background-color: #9a0303;
		font-size:28px;
	}

	/*  */
	.main-food-list{
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	img {
		/* max-width: 40%; */
		/* height: auto; */
		max-height: 80vh; 
		width: auto;
	}

	.food-and-dessert{
		display: flex;
		justify-content: space-around;
	}

	.food-wrapper{
		width: 60%;
		display: flex;
		flex-direction: column;
	}

	.drinks-and-snacks {
		display: flex;
	}

	.main-food-list{
		/* display: flex; */
		/* max-width: 50vw; */
		/* flex-wrap: wrap; */
	}
</style>